<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Kitten & Bullshit{% endblock %}</title>

    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="/assets/css/nes_dark.css" rel="stylesheet" />
    <script src="/assets/lib/vue.min.js"></script>

    <script src="/assets/lib/dialog-polyfill.js"></script>
    <script src="/assets/lib/highlight.js"></script>
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41640153-4"></script>
    <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-41640153-4");</script>
    <script>
        if (window.navigator.userAgent.toLocaleLowerCase().indexOf('trident') !== -1) {
            window.alert('IE is not supported on this page.')
        }

    </script>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<div id="nescss">
    <header :class="{ sticky: scrollPos > 50 }">
        <div class="container">
            <div class="nav-brand">
                <a href="/">
                    <h1><i class="nes-logo brand-logo"></i>Dark Anonymous</h1>
                </a>
            </div>

            <div class="social-buttons">
                <p>Menu</p>
                <div class="share">

                    <a href="https://github.com/nostalgic-css/NES.css" target="_blank"><i class="nes-icon github"></i></a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main class="main-content">
            <a class="github-link" :class="{ active:  scrollPos < 200 }" href="/" rel="noopener" @mouseover="startAnimate" @mouseout="stopAnimate">
                <i class="nes-charmander"></i>
            </a>
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
</body>
{% block javascript %}{% endblock %}
<script src="/assets/js/script.js"></script>
<script>
    const h = document.querySelector('head');
    ['./lib/dialog-polyfill.css', './lib/highlight-theme.css'].forEach(a => {
        const l = document.createElement('link');
        l.href = a;
        l.rel = 'stylesheet';
        h.appendChild(l);
    })
</script>
</html>


